@import './base.css';

main {
    /* height: 100vh;
    width: 100vw; */
}

#app {
    /* min-height: 100vh;
    min-width: 100vw; */
    user-select: none;
}

.number {
    font-family: var(--game-font-family);
    text-shadow: 2px 2px var(--vt-c-black-mute);
    font-weight: bolder;
    font-size: 1.5rem;
}


.text {
    font-family: var(--game-font-family);
    text-shadow: none;
    font-weight: lighter;
    font-size: 1.1rem;
}

@media only screen and (max-width: 1000px) {
    .number {
        font-size: 1.25rem;
    }
}

/* 
@media screen and (orientation: portrait) {
    body {
        transform: rotate(90deg);
        transform-origin: left top;
        width: 100vh;
        position: absolute;
        top: 0%;
        left: 150%;
        overflow-x: hidden;
    }
} */