@import './base.css';

#app {
    min-height: 100vh;
    min-width: 100vw;
    user-select: none;
}

main {
    height: 100vh;
    width: 100vw;
}

.number {
    font-family: var(--game-font-family);
}
